@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #F3EBE4;

}

.sesao-um {
    display: flex;
    flex-direction: row;

    width: 529px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    line-height: 130%;
}

.foto-produto {
    width: 250px;
    border-radius: 10px 0px 0px 10px;
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    padding: 30px;

}

h1 {
    font-size: 29px;
    width: 180px;
    font-family: 'Fraunces', serif;
    background-color: #ffffff;
    line-height: 100%;
}

h2 {
    font-size: 11px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: rgb(133, 132, 132);
    letter-spacing: 5px;
}

.texto-um {
    font-family: 'Montserrat', sans-serif;
    color: rgb(133, 132, 132);
    background-color: #ffffff;
    width: 210px;
    font-size: 13px;

}

.sesao-dois {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 195px;
}

h3 {
    font-size: 30px;
    font-family: 'Fraunces', serif;
    color: #3E8169;
}

.sub-preco {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgb(133, 132, 132);
}

button {
    background-color: #3E8169;
    border: none;
    color: white;
    /* padding: 14px 30px; */
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 7px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 220px;
    height: 40px;
}

.carinho-de-compras {
    width: 16px;
    height: 16px;
    position: relative;
    top: 8%;
    left: 1%;
}